.sliderPromo {
  margin: 4rem auto 2rem;
  width: 100%;
  background: radial-gradient(circle,rgba(0, 0, 0, 1) 45%, rgba(106, 27, 26, 1) 93%);
  padding: 2rem;

  @media (max-width: 550px) {
    padding: 1rem 2rem;
  }

  &-item {
    max-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  &-content {
    position: relative;
    border-radius: 1rem;
    box-shadow: 0px 0px 7px 7px rgba(255, 255, 255, 0.5);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white; // opcional, puede dejarse bordó si querés
  }

  &-img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    border-radius: 1rem;
  }

  &-btn {
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    background-color: rgb(212, 175, 55);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    padding: 0.4rem 0.8rem;
    text-transform: uppercase;
    text-decoration: none;
    z-index: 0;
    cursor: pointer;
    left: 50px;
    bottom: 50px;
  }
}
