.orders {
    max-width: 1300px;
    margin: 6rem auto 2rem auto;
    padding: 10px;
    text-align: center;

    &-title {
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        font-size: 2.5rem;
        text-transform: uppercase;
        text-align: center;
        @media(max-width: 768px) {
            font-size: 2rem;
        }
        @media(max-width: 650px) {
            font-size: 1.6rem;
        }
    }

    &-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem 0;
    }

    &-emptyText {
        font-family: "Roboto", sans-serif;
        font-size: 1.2rem;
        margin: 1rem;
    }
}